name: Run Python Tests
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'
      - name: Set PYTHONPATH
        run: echo "::set-env name=PYTHONPATH::$(pwd)"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
      - name: Run tests
        run: python tests/test.py
